[2013-03-11 16:14] voidmain opened #1 "Setting mapUnderscoreToCamelCase not revealed in MyBatisModule abstract class"
It looks like this configuration setting was added to the ConfigurationProvider but was not revealed in the MyBatisModule abstract class. Instead, it looks like users have to set it like this:

[code]

It would be better if we could use a method like this:

[code]

Here's the code for that method on MyBatisModule:

[code]

[2013-03-12 07:08] #1 closed, assigned to nobody

[2013-03-26 20:06] rnmixon opened #4 "MyBatis-Guice multiple datasource configuration does not work with JNDI datasources"
Is it expected that JNDI datasources should work using the Multiple Datasources configuration advice given at
  http://mybatis.github.com/guice/core.html
??

We spent a great deal of time reading doc and forums - both before and after we encountered the problem described below - but could find nothing related.

We needed to add an additional datasource to the application that has been running fine

[2013-08-02 15:15] natros opened #8 "mybatis-guice is not compatible with guice 4.0-beta"
java.lang.ClassNotFoundException: com.google.inject.internal.util.$Preconditions

From release notes[1], there are many changes inside com.google.inject.internal.

[1] https://code.google.com/p/google-guice/wiki/Guice40

[2013-08-14 14:57] h3adache opened #9 "MyBatisModule uses internal guice dependencies"
The MyBatisModule uses static imports against internal guice dependencies.

[code]

It is expected that the guice team will use public guice apis so other versions of guice can be used with MyBatis-Guice.

[code]

[note] Migrated from https://code.google.com/p/mybatis/issues/detail?id=574

[2013-08-27 13:39] #9 closed, assigned to christianpoitras

[2013-08-28 01:52] esmitperez opened #10 "mybatis-guice JdbcHelper Oracle Thin URL not compatible with all formats"
In JdbcHelper:
 Oracle_Thin("jdbc:oracle:thin:@${JDBC.host|localhost}:${JDBC.port|1521}:${oracle.sid|ORCL}", "oracle.jdbc.OracleDriver"),

Does not support Thin-style Service Name Syntax (http://docs.oracle.com/cd/B14117_01/java.101/b10979/urls.htm#BEIDHCBA)

For example the following URL cannot be used successfully:

jdbc:oracle:thin:@//127.0.0.1:1521/SERVICEABC"

One can hack the JDBC.host part

[2013-08-28 13:46] christianpoitras opened #11 "mybatis-guice test success depends on order"
Many tests expects the contact object to have an id. But the contact's id is available only after a test actually inserts it in the database. Otherwise, the contact's id will be null or invalid causing error in multiple tests like AbstractMyBatisModuleTestCase.selectContact.

The database should be cleaned properly between each test so that test order does not matter.

[2013-08-29 14:40] #11 closed, assigned to christianpoitras

[2013-09-04 12:46] #8 closed, assigned to christianpoitras

[2013-09-04 14:19] lflobo opened #12 "Configuration Variables"
Currently there is no way of changing variables in the default Configuration (org.apache.ibatis.session.Configuration) generated by mybatis-guice.

If you want to use variables assigned to the current Configuration in the mapper files (xml), you need to call config.getVariables().put() before the mapper xml files are parsed.

With the current mybatis-guice layout you can't.

I'm using:
mybatis-gui

[2013-09-24 14:10] #10 closed, assigned to jeffgbutler

[2013-09-24 14:43] christianpoitras opened #13 "Error in Travis with contact created field"
Unit tests runned by Travis fails because of Contact's created field.
Expected Contact [firstName=John, id=1, lastName=Doe, created= 1380031853889, address=null] but found Contact [firstName=John, id=1, lastName=Doe, created= 1380031853890, address=null]

The problem is probably due to the conversion from Long to Timestamp when inserting contact in CleanDatabaseRule.

[2013-09-24 14:46] #13 closed, assigned to christianpoitras

[2013-12-03 06:14] bakenezumi opened #16 "I want to use another SqlSession"
Mybatis-Guice uses DefaultSqlSession as the implementation of SqlSession currently.
but I want to use another one.
Is it possible to modify as follows:

currently MyBatisModule

[code]

modified MyBatisModule

[code]

[2013-12-05 20:50] PhantomYdn opened #17 "JNDI DataSource doesn't allow configure env parameters"
There is a need to configure additional env parameters to initilize JNDI context.

It least following update will be cool to have:

[code]

[2013-12-06 02:44] anandgandhe opened #18 "JDK version to use for mybatis"
Please let me know the jdk version compatable for mybatis to support sqlsessionfactorybean to replace sqlclientfactorybean of ibatis.

[2013-12-06 02:53] #18 closed, assigned to nobody

[2013-12-09 18:26] #16 closed, assigned to christianpoitras

[2014-02-20 18:28] #17 closed, assigned to nobody

[2014-02-25 15:19] #4 closed, assigned to nobody

[2014-03-20 21:37] emacarron opened #20 "Nested transaction rolls back inmediately if an exception is thrown"
The rollback should only be done if the transaction is not nested.

[code]

[2014-03-20 21:39] #20 closed, assigned to emacarron

[2014-03-22 16:53] emacarron opened #21 "Site is is not generaing as of 3.6"
mvn site fails in 3.6 but worked in 3.5.

Looks like there is one wrong javadoc.

[2014-09-08 00:49] natros opened #25 "Support for registering new languages and setDefaultScriptingLanguage"
Support for registering new languages and setDefaultScriptingLanguage

[2014-12-08 09:52] alexey-su opened #29 "Add Tx Transaction interceptor"
In a local version of the project, I added support for JTA TransactionManager.

Borrowed the description of the rules of the transaction JavaEE 7
	javax.transaction.Transactional.TxType.
My main project is working on the JVM 1.6. In Java 6 no @Transactional.

Took two objects from the project Apache Aries transaction-jdbc.
* TransactionToken
* TransactionAttribute.

To work with TransactionManager

[2014-12-27 06:33] dobesv opened #30 "Cannot register "generic" type handler in MyBatisModule"
MyBatis has a feature where you can declare a type handler class that has a single one-arg constructor, and the type handler is constructed with a different target type on each mapping.

In mybatis-guice the type handlers are always instantiated immediately on configuration, so mybatis doesn't check for a constructor, nor does it provide any other way to determine the desired output type of such a

[2015-01-28 10:52] lchaubert opened #33 "Set custom driver property"
Hello,

I need to set a driver property using Names.bindProperties(binder(), properties);
The JDBC connection property is settable in JDBC with properties.setProperty("foreign_keys", "true"); but I didn't manage to do it with MyBatis. Can you please explain me how can I do it?

Thy in advance!

Lucien

[2015-01-29 14:03] christianpoitras commented on #21
@emacarron Did you solve this issue?

[2015-01-29 14:12] christianpoitras commented on #29
Hi,
Adding support for JTA is a nice idea. Do you have any unit tests to check that everything works?

[2015-01-29 14:18] christianpoitras commented on #33
Hi, please ask your question on the mailing list.
http://mybatis.github.io/mybatis-3/mail-lists.html

As an hint, your JDBC connection properties should start with "JDBC.". See http://mybatis.github.io/guice/getting-started.html

[2015-01-29 14:18] #33 closed

[2015-01-30 06:09] emacarron commented on #29
In case it is of any help, you can have a look at CDI [1]. We coded a basic
JTA support and some unit tests that can probably be reused for Guice.

[1] https://github.com/mybatis/cdi

2015-01-29 15:12 GMT+01:00 Christian Poitras <notifications@github.com>:

[2015-01-30 06:12] emacarron commented on #21
Hi Christian. I made a change that worked. Not sure if it was the right one but anyway I think we can close this one.

[2015-01-30 07:54] lchaubert commented on #33
Sorry for posting at the wrong place.

I eventually figured out how to pass driver properties to the datasource using:

bind(Properties.class).annotatedWith(Names.named("JDBC.driverProperties")).toInstance(driverProperties);

All the best,

Lucien

[2015-01-30 14:16] christianpoitras commented on #29
Nice! I saw that MyBatis-CDI had a Transactional annotation, but I'm glad they support JTA because they are often used together.

[2015-01-30 14:24] christianpoitras commented on #21
Thanks. I don't see a better alternative than findbugs jsr305. So we'll stick to your fix and update to a more recent version from google code if we need.

[2015-01-30 14:26] christianpoitras commented on #12
Closing since it seems like a question and we didn't receive an update in over a year.

[2015-01-30 14:26] #12 closed

[2015-01-30 17:08] christianpoitras commented on #25
Using MyBatis 3.2.8, language drivers with ```@Inject``` cannot be registered.

I filed an issue in MyBatis for this. https://github.com/mybatis/mybatis-3/issues/342

[2015-01-30 19:23] alexey-su commented on #29
Honestly, I did not write the tests. I look forward correction mistakes https://issues.apache.org/jira/browse/ARIES-1279.
January 20 was amended draft Aries (ARIES-1287). Hopefully be able to check the error ARIES-1279.

I changed my little project. Create a new component
MyBatisJtaModule extends MyBatisModule

Added method bindTransactionInterceptors() and redefined in the new class.
In this way,

[2015-02-06 14:07] christianpoitras commented on #25
I think I'll close the issue since language driver can be registered from a mapper using the ```@Lang``` annotation and I don't see how these language drivers can have their dependencies injected.

[2015-02-06 14:07] #25 closed

[2015-02-06 14:30] christianpoitras opened #34 "Object factory dependencies and object wrapper factory dependencies are not injected for XML"
Object factory dependencies and object wrapper factory dependencies are not injected when using XML configuration.

[2015-02-06 14:33] #34 closed

[2015-02-06 20:44] #30 closed

[2015-02-08 22:41] alexey-su commented on #29
Added a lot of tests for JTA. Had to tinker.
https://gist.github.com/alexey-su/b9232686bf98aaca2619

I hope you enjoy.

[2015-02-09 07:38] alexey-su opened #35 "SampleBasicTest not work in Java 1.8"
The last test (shouldNotFailOnObjectsMethodsCall) does not work with Java 1.8

[2015-02-09 17:01] emacarron commented on #29
We will!!! Thank you Alexey. Hope I can have a look at it this weekend.

2015-02-08 23:41 GMT+01:00 alexey-su <notifications@github.com>:

[2015-02-09 17:12] christianpoitras commented on #29
@emacarron You can steal the issue from me if you have time! ;)

[2015-02-09 17:12] christianpoitras commented on #29
Oups... I though I assigned it to myself...

[2015-03-09 13:24] christianpoitras commented on #35
Which version of Java 1.8 is failing exactly?

I tried Java 1.8.0, 1.8.0_05 and 1.8.0_25 (all 64 bits) on Windows and all tests succeed.

[2015-03-09 19:14] alexey-su commented on #35
I checked again. The error is not repeated.

java version "1.8.0_40"
Java (TM) SE Runtime Environment (build 1.8.0_40-b25)
Java HotSpot (TM) 64-Bit Server VM (build 25.40-b25, mixed mode)

Please close this bug.

[2015-03-09 20:39] #35 closed

[2015-03-30 14:49] christianpoitras commented on #29
Hi, I checked the code and it seems nice and well done. The only thing I don't like is the compile dependency on geronimo. Is that really required? Or can it be made optional for those that don't use JTA?

I didn't test it in a actual JTA environment, but I'll believe you if you say it works.

[2015-03-30 14:54] christianpoitras commented on #29
I removed the NamedXAResource from the implementations of XASqlSessionManager and set geronimo dependency as test and all works well.

@alexey-su Is that an option to make geronimo optional for non-JTA users?

[2015-03-30 17:57] natros commented on #29
Can't you use <optional>true</optional> in the <dependency>.

"optional=true means that a library is needed for compilation, but it is not necessary at runtime"

[2015-03-30 18:26] alexey-su commented on #29
I chose Geronimo only for tests. My projects are working on Apache Karaf + Apache Camel.
This implementation TransactionManager used in this bundle.

In the realization of Geronimo TransactionManager have unpleasant moment. He does not use a standard interface
NamedXAResource. This interface is needed for the transaction log records in the file.
Evident when working with multiple physical database

[2015-03-31 09:47] alexey-su commented on #29
I chose Geronimo only for tests. My projects are working on Apache Karaf + Apache Camel.
This implementation TransactionManager used in this bundle.

In the realization of Geronimo TransactionManager have unpleasant moment. He use  interface NamedXAResource. This interface is needed for the transaction log records in the file.
Evident when working with multiple physical databases (different server

[2015-03-31 14:37] christianpoitras commented on #29
How about having a provider for XASqlSessionManager? Users could choose their implementation and we can make Geronimo dependency optional.

https://github.com/christianpoitras/guice/tree/xasessionmanager

[2015-03-31 14:41] christianpoitras commented on #29
In a patch format. https://gist.github.com/christianpoitras/34b38a0328b9a6114d4d#file-custom_xasessionmanager

[2015-03-31 19:49] alexey-su commented on #29
The most basic thing - it is to pass a parameter SqlSessionManager to constructor XASqlSessionManager.
Further, all work on this object is as to the implementation of the interface XAResource.

We do not think about implementation of the interface when working with the database.
[code]
Here in the same way.
[code]
I would not focus on the implementation of the interface Geronimo NamedXAResource.
N

[2015-04-01 13:25] christianpoitras commented on #29
Here is a new version based on your comment. I like your idea of having a provider for XAResource rather than XASqlSessionManager!

https://gist.github.com/christianpoitras/34b38a0328b9a6114d4d

[2015-04-01 18:16] alexey-su commented on #29
A very nice solution. I'm not very good at Guice. Share his concerns.

I think after the call initialize() should be put.
In AbstractMyBatisModule
[code]
If you leave the old order, the method call will not give the desired effect.
We tied the old object, and then changed the pointer to the new object.

There is a problem. Methods configure() and internalConfigure() are declared as final.

[2015-04-02 13:58] christianpoitras commented on #29
You are right. I added a unit test to confirm that a custom provider can be used.

See https://gist.github.com/christianpoitras/34b38a0328b9a6114d4d

I'll remove the geronimo related provider and create a pull request.

[2015-04-02 18:31] alexey-su commented on #29
I like your decision. I would like to see our work in the new version of the project.

I have an idea for future development. Support annotations transactions can be done at the level of MyBatis, and not at the level of Guice/Spring/CDI and other libraries. In SqlSessionManager add a method getXAResource().

[2015-04-07 13:20] christianpoitras commented on #29
I'll send the comment to Eduardo to see his opinion on adding a getXAResource() method to SqlSessionManager.

We also need to add documentation for the new feature. I'll probably write one in the next few months.

[2015-04-07 19:39] alexey-su commented on #29
I tried to show in tests actions within the transaction.
It is difficult to write documentation. I speak Russian.

The control system for the states in XASqlSessionManager taken from Bitronix LrcXAResource.
If you're interested, you can find on the forum Apache Camel. See attach source from http://camel.465427.n5.nabble.com/OSGi-JTA-and-NonXA-DataSource-td5626400.html

I'll be grateful to you for

[2015-05-04 14:15] christianpoitras commented on #29
Merged https://github.com/mybatis/guice/pull/38.

[2015-06-05 14:38] christianpoitras commented on #29
@alexey-su Is a XA DataSource required to use MyBatisJTAModule? Or can JTA use a non-XA DataSource inside a XAResource instance?

[2015-06-05 21:09] alexey-su commented on #29
No dependence on XADataSource. Using the add-on XADataSource.
The basic functionality of the session MyBatis only works with DataSource.

Example of creating a non-XA can be found here: https://developer.jboss.org/thread/169430?tstart=0
In tests, I used the implementation tranql-connector and org.apache.aries.transaction.jdbc.
It was easier to raise *RecoverableDataSource*, rather than understand

[2015-06-08 15:14] christianpoitras commented on #29
@alexey-su Hi! Is there any requirement to use the MyBatisJTAModule? For example is a TransactionManager required?
If so I will add this to the documentation.

Thanks again! The documentation is almost done since there was not much to say.

[2015-06-08 19:42] alexey-su commented on #29
Yes, MyBatisJTAModule use interface TransactionManager.

JavaEE 6 EJB component:

[code]

Or JavaEE 7 bean:

[code]

Or OSGi service from ServiceReference:

[code]

Or OSGi service from OSGi Enterprise Editon use lookup:

[code]

or OSGi Dynamic Service SCR annotation:

[code]

Further, it is necessary to create an object for the add database JTA Transaction.
This can be Apache DBCP ManagedDataSou

[2015-06-08 20:13] alexey-su commented on #29
Others do not have explicit dependencies.
It uses its own implementation of XAResource to SqlSessionManager.
Our annotations processor registers XAResource in the transaction.

It is likely a situation where one method with annotation @org.mybatis.guice.transactional.Transactional can be called from another method with the same annotation.
Each handler creates and registers a new resource XAResour

[2015-06-09 13:56] christianpoitras commented on #29
Thanks for the example on how to get the TransactionManager!

Since users need to supply a TransactionManager to the JTAMyBatisModule I will add this to the documentation.

The good news is that if users use Java EE, then they can get an instance of TransactionManager and a managed data source easily.

[2015-06-09 17:51] christianpoitras commented on #29
@alexey-su Here is the documentation that I wrote for the JTA support.
https://dl.dropboxusercontent.com/u/26970733/mybatis-guice/jta.html

I this acurate? Do you think I should add anything?

Thanks again!

[2015-06-09 20:55] alexey-su commented on #29
I like that. For the start-up phase will be fine. People will start to work and be able to suggest changes in the description.

When a bunch of Guice and JavaEE must be very careful.
Weld and Guice implement the same processing annotations.

As an example of JavaEE 7 CDI
[code]
MyBatisJtaModule registers field TransactionMamager.
[code]
When you work at the intersection of the two systems, the mai

[2015-06-10 13:41] #29 closed

[2015-06-10 13:41] christianpoitras commented on #29
Documentation added in commit 197d0295fd286f3220b591855e87d74a2011ffe1.

[2015-06-10 13:43] christianpoitras commented on #29
Thanks for your help!
As you say, the documentation will most likely change in the future after we get some feedback from the uses. At least they will have a starting point to use it. And I will answer questions on the mailing list.

[2015-07-21 12:38] george-hawkins-aa opened #42 "Setting Configuration properties not directly supported by ConfigurationProvider?"
The `Configuration` instance is created in `org.mybatis.guice.configuration.ConfigurationProvider.get()`.

In this method the various named properties found at the top of the class are used to setup the `Configuration` instance.

These properties only cover a subset of those supported by `Configuration`, `setDefaultStatementTimeout(Integer)` and various others are not covered.

And the current ord

[2015-07-21 13:26] christianpoitras commented on #42
I think you are right. If you have a better alternative, I'll be happy to have a look at it.

[2015-07-28 13:18] christianpoitras commented on #21
@emacarron Seems bug is still valid with the fail in 3.7.

[2015-07-28 15:51] emacarron commented on #21
Christian, I am afraid this is not exactly the same problem but something
related to the new site deployment method that Jeremy was exploring.

2015-07-28 15:18 GMT+02:00 Christian Poitras <notifications@github.com>:

[2015-07-28 17:07] hazendaz commented on #21
For now possibly drop parent to the prior one and try the old site deploy.  Possible option anyway.  Issue I'm running into looks like it's caused by the site plugin itself...

Sent by Outlook for Android

On Tue, Jul 28, 2015 at 8:51 AM -0700, "Eduardo Macarron" <notifications@github.com> wrote:
Christian, I am afraid this is not exactly the same problem but something
related to the new site depl

[2015-07-28 19:16] emacarron commented on #21
Jeremy. No worries. If needed the site can be generated by hand and pushed
to gh-pages.
El 28/7/2015 19:07, "Jeremy Landis" <notifications@github.com> escribió:

[2015-10-07 18:51] jeffgbutler opened #45 "JTA Module Does Not Support Chained @Transactional Methods"
In a small demo project I wrote, I found that when using the JTA Module if a @Transactional method calls another @Transactional method, then the interceptor will fail.

Because of JTA complexities, there are likely a wide variety of methods combinations that should work.  For example,

@Transactional method1 calling @Transactional method2 - method2 should be a part of the same transaction as metho

[2015-10-07 23:52] yochaude opened #46 "Support Guice 4.0"
Embedding mybatis-guice (latest version) in a project using Guice 4.0 results in the following run time error:

[code]

Maybe just relying on the Preconditions class from Guava instead of this internal copy would resolve the issue "smoothly"?

[2015-10-08 01:44] jeffgbutler commented on #46
MyBatis Guice has supported Guice 4.0 for quite some time - I'm using it myself on a couple of projects.  Are you sure your are using a recent version of mybatis-guice?  From the line numbers in your stack trace it looks like you are a few versions behind (they look like line number from version 3.3 and 3.7 is current).

[2015-10-08 04:43] yochaude commented on #46
Dang! You are right... I updated a bunch of other non related libs and was pretty sure I did the same for mybatis-guice. No excuse, my mistake :)

I upgraded to 3.7 and all is good.

Thanks! And sorry for the noise.

[2015-10-08 04:43] #46 closed

[2015-10-09 19:31] jeffgbutler commented on #45
I'm going to close this as I was not able to reproduce the error in unit tests committed here https://github.com/mybatis/guice/commit/f5335c2d0780ca1b74f183a1e5bd2887395f856d.  I can only assume this was related to a configuration error in my original test environment.

[2015-10-09 19:31] #45 closed

[2015-10-14 15:34] christianpoitras commented on #21
This issue is probably fixed for 3.8.

[2015-10-14 15:37] christianpoitras opened #50 "Update doc: @Transactional interceptor only works in private module"
Documentation needs to be updated to indicate that the services annotated with `@Transactional` must be binded in the MyBatisModule. Otherwise the transactional interceptor may not work.

Examples should be updated too.

[2015-10-15 02:15] hazendaz commented on #21
Thanks @christianpoitras.  This has been resolved.

[2015-10-15 02:15] #21 closed

[2015-10-22 09:15] sandpie opened #51 "in mybatis-config.xml, environments's [default] attribute doesn't work."
version:3.7.1

in mybatis-config.xml, environments's [default] attribute doesn't work.

becuse in class XMLMyBatisModule,  environmentId has default value [development]，

[2016-01-19 07:55] alexey-su opened #55 "HashMap concurrent modify error"
The large number of threads an error described in http://stackoverflow.com/questions/29967401/strange-hashmap-exception-hashmapnode-cannot-be-cast-to-hashmaptreenode

In class XASqlSessionManager change from
```private static HashMap<GlobalKey, GlobalToken> globalTokens = new HashMap<XASqlSessionManager.GlobalKey, XASqlSessionManager.GlobalToken>();```
to
```private static Map<GlobalKey, GlobalTok

[2016-01-22 15:23] #55 closed

[2016-01-22 15:24] christianpoitras commented on #50
Fixed in commit 8f86ce539c8608d4dc27c7a773000a825101518f.

[2016-01-22 15:24] #50 closed

[2016-01-22 15:30] christianpoitras commented on #51
To fix this, XMLMyBatisModule must be updated with the following:

DEFAULT_ENVIRONMENT_ID should be null.
setEnvironmentId() must accept null.

[2016-02-01 17:08] #51 closed

[2016-02-02 14:03] a598070240 opened #57 "datasource hope to support druid"
with guice datasource,
hope add a java file  DruidDataSource
https://github.com/alibaba/druid

[2016-02-02 14:58] christianpoitras commented on #57
I'm not really aware of the Druid data source.
If you are willing to program a DruidDataSourceProvider, I'll be happy to check it and add it to MyBatis-Guice.

You can look at the BasicDataSourceProvider to give you an idea of how to implement your own data source provider. https://github.com/mybatis/guice/blob/master/src/main/java/org/mybatis/guice/datasource/dbcp/BasicDataSourceProvider.java
In

[2016-02-03 02:42] lazeyliu commented on #57
well,I'm happy to provide the code ,e.. not git commit,

`import java.util.HashMap;
import java.util.Map;

import javax.sql.DataSource;

import com.alibaba.druid.pool.DruidDataSourceFactory;
import com.google.inject.Inject;
import com.google.inject.Provider;
import com.google.inject.name.Named;

/**
 * mybatis guice druid provider
 *
 * @author lazeyliu
 */
public class DruidDataSourceProvider imp

[2016-02-03 02:45] a598070240 commented on #57
well,I'm happy to provide the code ,e.. not git commit,

`
import java.util.HashMap;
import java.util.Map;

import javax.sql.DataSource;

import com.alibaba.druid.pool.DruidDataSourceFactory;
import com.google.inject.Inject;
import com.google.inject.Provider;
import com.google.inject.name.Named;

/**

mybatis guice druid provider *
@author lazeyliu
*/
public class DruidDataSourceProvider implement

[2016-02-03 15:26] christianpoitras commented on #57
It looks good at first sight. I will merge your pull request later.

[2016-02-09 10:12] cgendreau commented on #51
Any reason why there is no default EnvironmentId available in MyBatisModule?

[2016-02-09 14:35] christianpoitras commented on #51
This comes back to the first version of MyBatis-Guice that was Java only. Since no XML was available, it made no sense to not set an environment id. The default value was "development" if I remember correctly.

After, we decided to support XML configuration files since it the usual way to configure MyBatis. But we merely copied the Java configuration class and patched it to support XML. This led u

[2016-02-09 21:42] christianpoitras commented on #57
Fixed in commit e3ac1a8b1f8f9e1407c47844b4b58ef7b318655c.

[2016-02-09 21:42] #57 closed

[2016-02-09 21:48] christianpoitras commented on #42
The pull request #60 offers an alternative for now.

The only other option I can think of is to use reflection or to supervise all changes in MyBatis and to try to keep the Guice plugin in sync.

[2016-02-25 14:37] george-hawkins-aa opened #62 "Specifying multiple independent JDBC URLs to try?"
Currently I specify a single `JDBC.url` in the properties file I pass to:
[code]

I know some DBs support specifying failovers in the JDBC URL itself. However we would like to specify multiple completely independent JDBC URLs for our read only datasource and then have MyBatis Guice try them in turn until it gets a valid connection.

Is this possible or is there a simple path to implementing it on

[2016-02-25 14:47] christianpoitras commented on #62
I don't think it is a feature that should be added to MyBatis-Guice since it seems to be related to specific datasources.

The way to go is to use a custom DataSource provider and set it in the MyBatisModule using bindDataSourceProvider() method.

[2016-02-25 14:50] christianpoitras commented on #62
As for the question on how to set multiple URLs, you can implement it anyway you want in your provider. I would try first to set multiple values separated by commas or something alike.

https://commons.apache.org/proper/commons-configuration/userguide_v1.10/howto_properties.html#Properties_files

[2016-02-25 16:26] george-hawkins-aa commented on #62
OK - thanks @christianpoitras - that seems a reasonable way to go.

[2016-02-25 16:26] #62 closed

[2016-03-24 13:15] kool79 opened #64 "Cannot handle multiple types with one generic type provider"
Issue #30 add feature to define generic type providers, but it does not solve the problem - we can use such "generic" provider only once. (I.e. in code example we cannot use such type provider to bind to 2+ classes) For example, when we have provider
[code]
it can be used to handle  type *CustomObject*
[code]
But when we cannot  do this:
[code]
(both classes  CustomObjectA and CustomObjectB extend

[2016-03-24 14:28] #64 closed

[2016-03-24 14:30] christianpoitras commented on #64
Can you try commit 831648dbcedd93d0bbdf5318029b48ada239aeec and see if it works on your side too?

To use the same type handler for multiple types, you need to use TypeLiteral like in the MultipleGenericCustomObjectTypeHandlerTest class.

[2016-07-08 08:58] tomislavr opened #71 "AOP synthetic warnings in java8"
Noticed this issue when having `@Transactional` annotation on methods of repository classes that implement some interfaces with generics:

https://groups.google.com/forum/#!topic/google-guice/-DH5fBD7M30

Did this in my module, the problem is gone and everything looks OK:

[code]

If this is ok, I suppose `bindTransactionInterceptors()` can implement this change in mybatis-guice?

[2016-07-10 16:31] christianpoitras commented on #71
This seems like a reasonable change.

[2016-07-12 17:58] #71 closed

[2016-07-12 17:58] christianpoitras commented on #71
Fixed in commit 727e9d727f0166d484e60e50739982ec04e7b6a4.

[2016-07-27 15:11] georgantasp opened #74 "Guice throws CreationException when adding the same type handler in the Modules"
As of the 3.7.0 version of mybatis-guice type handlers are bound using a provider instance instead of a provider class. This creates a subtle difference where type handlers cannot be added to multiple modules in the same injector.

The fix is super easy. Guice allows multiple bindings when the provided instances are equal. Can you please override equals (and hashCode) as you see fit for TypeHandle

[2016-07-27 15:48] christianpoitras commented on #74
I agree. But MyBatis supports Java 6 and Objects was introduced in Java 7. Can you fix this before I merge the code?

[2016-07-27 18:26] georgantasp commented on #74
Hi Christian thanks for getting back.

I made the change to use google's Objects instead.

https://github.com/TechniqueSoftware/clubos-mybatis-guice/commit/6c8d09ab6249305510319dadccbc085d93619530

Do you have a more formal procedure for accepting contributions? I searched the docs pages but couldn't find anything. Just thought I'd ask because I have a few other enhancements I'm working on.

Thank

[2016-07-27 18:46] christianpoitras commented on #74
Usually people fork the project to their own account and make changes there. Then they submit a pull request. Once done, I can merge your code by clicking a single button!

That's the way to go for most projects in GitHub.
For example, this is my fork: https://github.com/christianpoitras/guice

[2016-07-27 21:53] georgantasp commented on #74
https://github.com/mybatis/guice/pull/75

[2016-07-28 12:33] georgantasp opened #77 ".gitattributes on a mac"
Hi, I recently was **struggling** to work on your repo with this setting on my mac. When I check out master, it was converting line endings for *every* file to LF.
Looking at this [documentaion](https://help.github.com/articles/dealing-with-line-endings/) I believe it is a little ambiguous as to what this line will do:

This [documentation](https://git-scm.com/book/en/v2/Customizing-Git-Git-Config

[2016-07-28 12:40] georgantasp commented on #77
https://github.com/mybatis/guice/pull/78

[2016-07-28 12:46] hazendaz commented on #77
We want this that way.  We store it unix style but want it opening properly in windows.  How is this specifically causing issues for you?  Mac is unix based.  Plus auto uses os a style.  Its well documented and this is githubs favored default.  Github desktop will create all new repos set this way.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Jul 28, 2016 at 8:34 AM -0400, "Peter" <not

[2016-07-28 12:54] hazendaz commented on #77
Most likely you have a config issue in your local git config and potentially using eclipse jgit/egit which doesnt know about gitattributes.  In that case add global setting and your issue will go away.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Jul 28, 2016 at 8:40 AM -0400, "Peter" <notifications@github.com<mailto:notifications@github.com>> wrote:

#78<https://github.com/mybatis/gui

[2016-07-28 13:03] hazendaz commented on #77
One other potential coukd be when we added getattributes that the entire code base didnt normalize.  If that seems more like it let me know and ill make sure its fully normalized.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Jul 28, 2016 at 8:40 AM -0400, "Peter" <notifications@github.com<mailto:notifications@github.com>> wrote:

#78<https://github.com/mybatis/guice/pull/78>

-
You are

[2016-07-28 13:13] georgantasp commented on #77
See below for an example.

I think "auto" is making git want to change line endings to LF. When you say "didnt normalize": I believe that's true, it looks like the remote repo still maintains CRLF line endings.

[code]

[2016-07-28 13:48] christianpoitras commented on #77
You are right. Commit f3b792cab393b167a1d875e2965ac3f6936da2b5 did not fix all line endings.
I'll try the suggested trick on GitHub https://help.github.com/articles/dealing-with-line-endings/

[2016-07-28 13:56] hazendaz commented on #77
Github desktop use to auto fix but seems that went away.  Let me know if that trick works....may need it other places.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Jul 28, 2016 at 9:48 AM -0400, "Christian Poitras" <notifications@github.com<mailto:notifications@github.com>> wrote:

You are right. Commit f3b792c<https://github.com/mybatis/guice/commit/f3b792cab393b167a1d875e2965ac3f6936

[2016-07-28 14:01] georgantasp commented on #77
See some more strangeness below. Whatever git does to attempt to remove the CRLF endings doesn't seem to work. Only after using dos2unix does the file command show the ending as changed.

[code]

[2016-07-28 14:01] jeffgbutler commented on #77
I've had some experience with this recently, for better or worse :)

In my experience, the github trick is unreliable.  It will randomly fix some subset of the files and you might have to run it several times to get a complete fix.  And it might never be a complete fix.  Here's a way to guarantee a fix to all files:

1. Delete .git/index
2. git reset  (this will force a scan on every file)
3. git

[2016-07-28 14:05] hazendaz commented on #77
Nice trick thanks Jeff.  Ill look at scanning all mybatis repos as soon as i can.  Its clear my trusty tools cannot be trusted these days.

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Jul 28, 2016 at 10:02 AM -0400, "Jeff Butler" <notifications@github.com<mailto:notifications@github.com>> wrote:

I've had some experience with this recently, for better or worse :)

In my experience, the

[2016-07-28 15:23] christianpoitras commented on #77
Done in commit 0ab77a87d593c51a5046b23daf213e7477fd2b47.

I was not able to do it properly using Jeff trick. For some reason the \r\n combo was still present on most files. I did it using search and replace in Eclipse.

[2016-07-28 15:23] #77 closed

[2016-07-28 23:54] hazendaz commented on #77
Strange anamoly.  I'll still give this a try elsewhere.  Oddly enough the main file user initialy noted was same one I experienced locally 4 days ago and had committed but didn't push anywhere.  It had otherwise been touched by some other change then flushed out line ending changes.  After applying your latest changes, it stated the changes were applied there so seems all is good now.  I did run t

[2016-07-29 11:58] christianpoitras commented on #74
Merged pull request #76

[2016-07-29 11:58] #74 closed

[2016-07-29 12:00] christianpoitras commented on #77
I'm pretty sure it was my lack of git knowledge that made it difficult for me to push the changes after using Jeff's trick. It probably works most of the time.

[2016-08-02 14:50] georgantasp commented on #42
My pull request is actually an alternative solution to this as well:

https://github.com/mybatis/guice/pull/79

[2016-08-02 14:54] christianpoitras commented on #42
@georgantasp Your solution is great too. I agree that both are equally useful.

[2016-08-02 14:58] christianpoitras commented on #42
I think that after merging #79, this bug can be marked as fixed.
I will do this in the next few days.

[2016-08-24 14:04] christianpoitras commented on #42
Fixed by merging #79

[2016-08-24 14:04] #42 closed

[2016-09-29 13:37] MirkoRossini opened #81 "Transactional doesn't work in private module when exposing the interface instead of the implementation"
See this [gist](https://gist.github.com/MirkoRossini/e6d5eb91f09d5989cb5a60c54998c272).

This main fails at this point:

`Exception in thread "main" java.lang.RuntimeException: Not transactional
    at com.mirkorossini.transactionaltest.Test.testTransactional(Test.java:51)
    at com.mirkorossini.transactionaltest.Test.main(Test.java:78)
    at sun.reflect.NativeMethodAccessorImpl.invoke0(Native M

[2016-09-29 13:49] jeffgbutler commented on #81
It sounds like you have stumbled upon a fairly well know bug/feature in Guice:

https://github.com/google/guice/issues/722

Take a look to verify, but if it's the same issue then there's nothing we can do about it - that's the way Guice works.

[2016-09-29 13:59] christianpoitras commented on #81
This is the most bizarre bug of Guice I would say. Private modules work in a really weird way when it comes to interceptors.

The problem is that Guice will not always instantiate an object the way you think it should. Just in time binding with private modules is bad. And unexpected Just in time binding is the worst.
Often, when Guice should instantiate an object in a private module, it will insta

[2016-09-29 14:11] MirkoRossini commented on #81
Thanks for the quick responses, looks like it's precisely my issue. Good to know

[2016-09-30 07:29] vaibhavmagarwal commented on #81
Hi,

In the [example](https://gist.github.com/MirkoRossini/e6d5eb91f09d5989cb5a60c54998c272) that @MirkoRossini gave, why are interceptors not applied *only* when the SqlSessionManager (instance variable) is exposed explicitely? The interceptors are applied when SqlSessionManager is not exposed. Is that a separate bug?

[2016-09-30 11:15] christianpoitras commented on #81
This happens because if the SqlSessionManager is not exposed, Guice has to instantiate de service implementation in the private module to allow the injection of the SqlSessionManager field.

By exposing the SqlSessionManager instance, the SqlSessionManager is now available to the private's module parent (the main injector in this case). So Guice will instantiate the service from the private's modu

[2016-10-05 13:39] georgantasp opened #82 "Constructor Injection for TypeHandlers doesn't work."
I see that this is related to https://github.com/mybatis/guice/issues/30 .

When trying to upgrade to the latest version, that fix is breaking many of my typehandlers which need constructor injection.

As the original issue is described, I think the existing solution is too heavy handed. I'll propose a different solution shortly.

[2016-10-05 13:51] christianpoitras commented on #82
The general problem comes from MyBatis-Guice trying to inject dependencies in type handlers. Removing that feature would fix the issue.
But if the injection feature is used, then we may end-up in a catch 22 situation...

[2016-10-05 14:05] georgantasp commented on #82
https://github.com/mybatis/guice/pull/83

[2016-10-05 14:14] georgantasp commented on #82
I think its better if this library gives the developer the option. I think adding more options to TypeHandlerBinder is the right way to go.

[2016-10-07 15:31] christianpoitras commented on #82
Thanks. That's a nice addition!

Should I mark this as closed? Using Providers is a good alternative.

[2016-10-10 13:48] georgantasp commented on #82
Marking closed for the purposes of this ticket.

Another future enhancement would be to expose a better syntax for the TypeHandlerBinder:

`handleType(type).byBinding(handlerType).to(handlerTypeProvider).in(Scopes.SINGLETON)`

[2016-10-10 13:48] #82 closed

[2016-10-10 21:31] christianpoitras commented on #82
It looks like a better syntax. It may also be possible to handle generic handlers with this kind of syntax.
I don't use all the features of MyBatis, so I'm not up-to-date with all the recents improvements of the main framework. I'll have to dig into it! ;)

[2016-11-07 21:18] GenghisZahn opened #88 "Generic TypeHandlers not working with XML config."
My issue seems to be related to #82 and #30:

I'm using an XMLMyBatisModule setup with a generic TypeHandler to convert between Java objects and postgres Json data fields.  During initialization I get:

[code]

Looking at the other issues, it seem like this problem may already be solved with a java-based configuration, but XML config is still a valid option (that I'm currently using) so the fix sh

[2016-11-07 21:35] christianpoitras commented on #88
Do you have a test case for this?

[2016-11-07 22:11] GenghisZahn commented on #88
I'm not sure I get your meaning. I have a test case in my project that can recreate the issue, but that's not helpful to you. Do you want me to create a test case within this project's test does and submit a pull request?

Either way, I've figured out the source of the error:

1. My TypeHandler class needed a `@MappedTypes(Object.class)` annotation
2. I had to explicitly register the typeHandler i

[2016-11-07 22:11] #88 closed

[2016-11-07 23:20] christianpoitras commented on #88
The way XML configuration works is that MyBatis-Guice inject all dependencies in registered type handlers. But type handlers are registered by MyBatis and not MyBatis-Guice when using XML.

That is why I though that you had a problem in your configuration. If you do need injection in your type handler, remember that only setter/field injection works since the type handler cannot instantiated.

[2016-11-28 11:49] george-hawkins-aa commented on #42
Sorry to followup so late on a long closed bug.

But was it the intention #79 to remove the ability to set properties like `"mybatis.configuration.defaultStatementTimeout"`?

See [here](https://github.com/mybatis/guice/commit/77091b8c09f9bb79fd2ba268d594b98c2a77855f#diff-d6155963f6d31d86f01669398a80ba43L95) in the #79 pull request to see where this and other `"mybatis.configuration"` prefixed prop

[2016-11-28 13:16] christianpoitras commented on #42
It would be interesting to see if both can be used.
For that, bindConfigurationSetting would absolutely need to run after any properties are set.

I will test that this week.

[2016-11-28 13:20] christianpoitras opened #91 "Cannot set configuration fields using properties"
Binding properties may not work anymore after fix #79.

[code]

Need to use this syntax now.
[code]

See issue #42.

[2016-11-28 13:29] christianpoitras commented on #81
Since this issue is old and seems invalid, I am closing it.

[2016-11-28 13:29] #81 closed

[2016-11-30 13:04] george-hawkins-aa commented on #91
For this particular property there is also a setter so you can do just plain:

    defaultStatementTimeout(10);

So this and setting the property directly on the configuration, i.e. `bindConfigurationSetting(configuration -> ...)`, work. But all the `"mybatis.configuration.XYZ"` properties that you used to be able to set via a (usually external) properties file seem to have been removed by #79.

[2016-12-06 14:09] #91 closed

[2016-12-06 14:11] christianpoitras commented on #91
I restored this functionality. But no additional properties will be provided in the future.

[2016-12-06 14:12] christianpoitras commented on #91
New configuration fields will only be settable using ConfigurationSettings.
I think it is an acceptable compromise.

[2016-12-07 09:31] george-hawkins-aa commented on #91
Looks good 😄

[2017-01-04 23:39] xeredi opened #93 "Provide methods for settings logImpl, proxyFactory, jdbcTypeForNull, ..."
Hi.

In Mybatis Guice, I found methods to initialize a MyBatisModule. For example:
- method "useCacheEnabled" for the setting "cacheEnabled"

But I can't find methods for settings:
- logImpl
- proxyFactory
- jdbcTypeForNull
- ...

Is there a way to modify this settings?

Thank you very much

[2017-01-05 13:45] christianpoitras commented on #93
Please, ask your questions in the mailing list.
http://www.mybatis.org/mybatis-3/mail-lists.html

Look for `bindConfigurationSetting()` in the most recent version.

[2017-01-05 13:45] #93 closed

[2017-03-26 16:11] syhily opened #96 "Make KeyResolver and Formatter public"
So the user like me could implement custom JdbcHelper.

[2017-03-28 12:23] christianpoitras commented on #96
Hi, don't think making those classes public will help you achieve what you want. I'll look for a better solution to your problem.

[2017-03-28 12:30] simonetripodi commented on #96
`JdbcHelper` is an _Enumeration_, changing `KeyResolver` and `Formatter` modifier won't help you implement a custom `JdbcHelper`.
What I'd suggest is contributing the missing helper for the interested driver

[2017-03-28 12:35] christianpoitras commented on #96
Hi @simonetripodi !
What is interesting is allowing to use a different Formatter or KeyResolver rather than changing JdbcHelper. But I suspect that making those classes public will not allow people to replace the implementation easily.

[2017-03-28 12:37] christianpoitras commented on #96
And as you said, if a user just wants an additional driver, they can just submit the change and I will gladly add the new values for the next release.

[2017-03-28 15:26] syhily commented on #96
I should clarify my requirements. I just implement the JdbcHelper because I want to make mysql using slf4j. It would need to make jdbc url like `jdbc:mysql://${JDBC.host}:${JDBC.port}/${JDBC.schema}?autoReconnect=true&useSSL=false&logger=com.mysql.jdbc.log.Slf4JLogger&profileSQL=true`

So, it would help me a lot if the class `Formatter` be public. I could just write some code like below.
[code]

[2017-03-29 13:55] christianpoitras commented on #96
I have a strong dislike to make Formatter public because of its name.

I will rename it JdbcUrlAntFormatter and then make it public. That way it will be clear that the class it not meant to be used for other purposes.

[2017-03-29 14:00] syhily commented on #96
Tks, this helps a lot. 👍

[2017-03-29 14:55] christianpoitras commented on #96
Fixed in commit f997dbc181216eb879dc7fb51f436cbfb1c1cbf0.

[2017-03-29 14:55] #96 closed

[2017-05-16 08:40] asafm opened #99 "TransactionalMethodInterceptor: Rethrow original Throwable by default"
Hi,

In TransactionalMethodInterceptor:
[code]

I was wondering why the last option is to rethrow as *new*?
I was thinking it should be: if transactional.rethrowExceptionsAs() != null, do the rethrow, otherwise just throw the original Throwable.

Why?
If I have
[code]
And in some other class
[code]

The current implementation forces to declare NoSuchSLAException on updatePlan() (it's a RuntimeExce

[2017-05-16 13:22] christianpoitras commented on #99
Hi,
I consider it as a bug. I was wondering why it is like this when I saw this code a while ago.
I never fixed it for compatibility reasons, but I could fix it considering that several minor releases of MyBatis-Guice contains breaking changes.

[2017-05-23 00:05] hazendaz opened #102 "Adding enforced format.xml"
@christianpoitras I've been adding to the various projects format.xml which is in mybatis-parent now.  This enforces 2 character spacing for mybatis.  This has been an easy win for smaller projects at this point.  I was thinking about possibly bringing it in here given checkstyle complaints over 3k.  It won't fix all those issues but will knock off a good number.  Because this is such a noisy chan

[2017-05-23 00:11] christianpoitras commented on #102
I agree to check and fix all complains that make sense.

[2017-05-23 00:48] christianpoitras commented on #102
I'll try to look at this later this week. I also plan to finally add all those missing unit tests.

[2017-05-27 18:16] hazendaz commented on #102
Fixed via #103

[2017-05-27 18:16] #102 closed

[2017-07-24 21:51] christianpoitras commented on #99
The reason `TxTransactionalMethodInterceptor` does not change the exception is that it does not consider the value in `rethrowExceptionsAs()`. So it's `TxTransactionalMethodInterceptor` that is not honouring the annotation properly.

Still, you are right, if a RuntimeException or a declared Exception is thrown by the method, the interceptor should not mess with it.

I think this feature was added

[2017-07-31 20:29] christianpoitras opened #109 "Username and password ignored when setting driver properties"
Due to the nature of c3p0, setting username and password before driver properties are set will result in username and password to be ignored.

Username and password should be set after driver properties are set, if possible.

[2017-08-01 18:09] christianpoitras opened #110 "ProvisionException when setting login timeout for BasicDataSource"
BasicDataSource does not support login timeout.

See https://commons.apache.org/proper/commons-dbcp/api-1.4/org/apache/commons/dbcp/BasicDataSource.html#setLoginTimeout(int)

[2017-08-01 18:26] christianpoitras opened #111 "Incorrect value for idleConnectionTestPeriod for BoneCP"
There is a configuration error in BoneCPProvider which results in idleConnectionTestPeriod to be invariably set in seconds.

idleConnectionTestPeriodInMinutes and idleConnectionTestPeriodInSeconds should be created to set the value in minutes or seconds.

[2017-08-01 18:36] christianpoitras commented on #111
Fixed in commit 8233d692b6bf137cdabefca11a40ae6d54dfc9c7.

[2017-08-01 18:37] #111 closed

[2017-08-01 18:41] christianpoitras opened #112 "Allow Druid connection properties to be set using an instance of Properties"
Right now, the only way to set connection properties in Druid is to use a String containing the properties.

[2017-08-01 19:10] christianpoitras opened #113 "Incompatible configuration properties in SharedPoolDataSourceProvider"
SharedPoolDataSourceProvider force the use of a ConnectionPoolDataSource. But setting the name of the DataSource is not allowed if a ConnectionPoolDataSource is set.

[2017-08-01 19:21] #110 closed

[2017-08-01 19:21] #113 closed

[2017-08-03 16:32] christianpoitras opened #114 "Incorrect generics for PerUserPoolDataSourceModule"
In PerUserPoolDataSourceModule, it is not allowed to set a subclass of Provider<Map, Boolean> for setPerUserDefaultAutoCommitProviderClass() method. This makes no sense since Provider is an interface.

This applies to all providers in PerUserPoolDataSourceModule.

[2017-08-03 16:34] christianpoitras commented on #114
Fixed in commit e10c245548e452b51b1c52d11882a81b4882d141.

[2017-08-03 16:34] #114 closed

[2017-08-03 16:48] #109 closed

[2017-08-03 17:09] christianpoitras commented on #99
@asafm Can you provide me a test case where showing the problem you are facing.

I added some unit tests in commit 5d81f9d97afd8a438a7a2a74518f09b3f93ada5e, but I am incapable to reproduce your problem...

Since all exceptions extends java.lang.Exception, that @Tansactional has a default value of java.lang.Exception and that TransactionalMethodInterceptor leave the exception untouched if the excep

[2017-09-08 14:04] christianpoitras opened #115 "Make ConnectionPoolDataSource optional in SharedPoolDataSourceProvider"
Also restore the datasource name option in SharedPoolDataSourceProvider.

[2017-09-08 14:04] christianpoitras commented on #115
Related to #113.

[2017-09-08 14:08] #115 closed

[2017-09-08 14:30] christianpoitras opened #116 "Fix support for readOnly in Druid DataSource"

[2017-09-08 14:34] #116 closed

[2017-10-24 13:53] gabrie-allaigre opened #118 "Problems with 3.10 on useConfigurationProvider"
Hi,
On the last version `useConfigurationProvider` don't work correctly.

[code]
In example : console output => LazyLoadingEnabled = false.
If comment line :  `useConfigurationProvider(MyConfigurationProvider.class);`
Console output => LazyLoadingEnabled = true.

The problems is because `this.bindListener(KeyMatcher.create(Key.get(ConfigurationProvider.class)), ...`
Matcher match only `Configurati

[2017-10-25 14:26] #118 closed

[2017-10-25 14:29] christianpoitras commented on #118
@gabrie-allaigre Can you test it with the new commit I just made?

Your pull request did not solve the problem of someone having a custom configuration provider only implementing Provider<Configuration>. Now if someone implements Provider<Configuration> and ConfigurationSettingListener, he will be able to use ConfigurationSetting instances.

[2017-10-25 14:33] christianpoitras commented on #118
Sorry. I think you pull request did fix this problem.
Anyway, I added a unit test to confirm that it is working.

[2017-10-25 19:11] RobertoUa opened #120 "@Transactional doesn't work when annotated on default method"
I have to create a service and inject a mapper into it. It's too complicated when I need to add the annotation only on one method. Creating a default method in mapper interface is much simpler.

[2017-10-26 10:00] gabrie-allaigre commented on #118
Thanks

[2017-10-26 16:15] christianpoitras commented on #120
Hi. I am not sure what you are asking for.
Can you give me an example or a unit test that shows what you are trying to do?

[2017-10-27 08:29] RobertoUa commented on #120
Sure. I was talking about interface default method in java 8. Something like this.
I actually use it a bit differently, I don't throw exception, but I do wanna use multiple sql queries in one method.
[code]

[2017-10-27 08:33] RobertoUa commented on #120
like here https://github.com/mybatis/guice/blob/master/src/test/java/org/mybatis/guice/sample/service/FooServiceDaoImpl.java
I don't want to create FooServiceDaoImpl and use UserDao there. It's too complicated (when all I need is one transactional method)

[2018-07-05 10:09] alexey-su commented on #99
Probably, it is necessary to implement a transaction rollback according to **@javax.ejb.ApplicationException**.

[code]

If an error occurs, the successor to RuntimeException, the system rolls back the transaction.
If there is another error, the system looks for the ApplicationException and makes a decision to roll back the transaction.

To check behavior it is necessary at once in two output agen

[2018-07-05 11:01] alexey-su opened #126 "Uses optional dependencies in OSGI"
The problem in the new version repeats the error #9.
It is necessary to change the dependencies. Add the package **com.alibaba.druid.pool** in pom.xml.
[code]

[2018-07-06 18:04] #126 closed

[2018-07-06 18:23] christianpoitras commented on #120
My hypothesis is that it is a problem with Guice. We don't do anything other than register the interceptor and it seems Guice is skipping default methods.

[2018-07-09 15:13] christianpoitras commented on #120
It seems to require Guice version 4.2 to work. They added a unit test for this in and the latest date is September 2016.
https://github.com/google/guice/blob/master/jdk8-tests/test/com/google/inject/jdk8/DefaultMethodInterceptionTest.java

Did you try with Guice version 4.2?

[2018-07-09 15:41] christianpoitras commented on #99
@alexey-su Did you find an issue with this?
If so, I would like to see a unit test for this. I tried all possibilities I could think of in class `TransactionalMethodInterceptorTest`, but I am unable to reproduce the problem...

I mean since `@Transational` has a default value of `Exception.class` for `rethrowExceptionsAs` and all exceptions must extends `Exception`, then no exception can be repack

[2018-07-09 16:18] RobertoUa commented on #120
I see. Thanks for the info!
Unfortunately, I'm stuck with 3.0 :(

[2018-07-10 15:50] christianpoitras commented on #120
I am marking it as won't fix for now.
If the problem is still present while using Guice 4.2, please provide me with a test case and I will look into it.

[2018-07-10 15:51] #120 closed

[2018-07-12 12:52] alexey-su commented on #99
I suggest to think about the analysis of the exception. If this is RuntimeExceptin, or the exception is marked as @ApplicationException(rollback = true), the transaction is marked rollback only.

TransactionalMethodInterceptor.java
[code]

TxTransactionalMethodInterceptor.java
[code]

Some errors should not affect the rollback of the transaction.

You are talking about the rethrowExceptionsAs para

[2018-07-17 19:02] christianpoitras commented on #99
This seems like a different issue.
It would be new feature to allow transactions to be committed in case of a specific exception. Right now, `@Transactional` only supports the `force` parameter that would commit the transaction regardless of any exception. This parameter is ignored by `TxTransactionalMethodInterceptor`.

[2018-07-18 19:58] alexey-su commented on #99
The ```force``` parameter is not quite correct for ```UserTransaction```.
```TxTransactionalMethodInterceptor``` will finish closing ```UserTransaction``` before ```TransactionalMethodInterceptor``` passes a commit to MyBatis.

[2018-07-24 14:04] christianpoitras opened #129 "Allow TxTransactionalMethodInterceptor to commit the transaction on some exceptions"
As @alexey-su noted:

Probably, it is necessary to implement a transaction rollback according to **@javax.ejb.ApplicationException**.

[code]
If an error occurs, the successor to RuntimeException, the system rolls back the transaction.
If there is another error, the system looks for the ApplicationException and makes a decision to roll back the transaction.

See #99.

[2018-08-14 03:02] KING754 opened #130 "ask questions about AbstractMyBatisModule,TKS!"
mycode:
`public class DmXmlMybatisMoudle extends AbstractMyBatisModule{
....
    	@Override
	final void internalConfigure() {
             Reader reader = null;
		try {
			File config = getConfig();
			if (null == config) {
				LOGGER.error("config file is null. mybatis-cfg.xml path={}", this.classPathResource);
			}

//			super.install(JdbcHelper.MySQL);
			reader = new BufferedReader(new InputSt

[2018-08-14 04:53] KING754 commented on #130
i am found the exception,from there:
abstract class AbstractMyBatisModule extends AbstractModule
--->protected void bindTransactionInterceptors()
--->bindInterceptor(any(), not(SYNTHETIC).and(not(DECLARED_BY_OBJECT)).and(annotatedWith(Transactional.class)),interceptor);

before the exception,i watch about vars,
any()　=　any()

not(SYNTHETIC).and(not(DECLARED_BY_OBJECT)).and(annotatedWith(Transactio

[2018-08-14 13:41] christianpoitras commented on #130
You are right that the exception could be more explicit. But I guess that most people are not using a custom module extending `AbstractMyBatisModule` in addition to using a non-AOP Guice. Otherwise, this exception message improvement would have been reported sooner.

[2018-08-14 15:13] KING754 commented on #130
haha,you are right.it is careless error.
i create a custom module extending AbstractMyBatisModule. main reason is the internalConfigure function about the reader code.i ovrride it:
"
File config = getConfig();
if (null == config) {
       LOGGER.error("config file is null. mybatis-cfg.xml path={}", this.classPathResource);
}
reader = new BufferedReader(new InputStreamReader(new FileInputStream(con

[2019-01-01 02:59] hazendaz opened #137 "Drop commons-dbcp 1 support"
@christianpoitras WDYT?

[2019-01-01 03:00] hazendaz opened #138 "Add commons-dbcp2 support"

[2019-01-01 03:00] hazendaz opened #139 "Drop bonecp support"
@christianpoitras WDYT?

[2019-01-01 03:03] hazendaz commented on #138
I have most of this support done

[2019-01-02 03:07] christianpoitras commented on #138
It makes sense to replace DBCP 1 with DBCP 2.

[2019-01-02 03:13] christianpoitras commented on #139
I don't know if anyone is using it. It seems to have been added a long time ago when I was not a developper for the plugin. I don't think I ever updated that part and it may be very outdated.
So I don't have a strong opinion on this one.

[2019-01-02 03:18] christianpoitras commented on #139
Based on Maven, the last update to BoneCP was in 2013. It is likely that the project is dead.

[2019-01-06 03:31] hazendaz opened #141 "Add support for HikariCP (as suggested replacement for bonecp)"

[2019-01-06 15:32] christianpoitras commented on #139
@hazendaz  I agree to get rid of BoneCP support.

[2019-03-07 20:58] ravi-mamidipaka opened #145 "@Transactional doesn't work when annotated on method"
I have `@Transactional` annotation on my method in the service.. but when the exception occurs the data is not being rolled back.. I am not sure what is going .. Following is my code

[code]

Following is my module
[code]

[2019-03-07 21:13] christianpoitras commented on #145
Is your class containing the `insert(Project)` defined in the private module? If not, then the interceptor cannot intercept your method to force the rollback.
The reason for this is that interceptors defined in a private module only affect classes that are bound inside the private module. Classes bound outside of the private module will not be visible to the interceptor.

[2019-03-07 21:19] ravi-mamidipaka commented on #145
yes it is defined in another private module

[code]

[2019-03-07 22:21] christianpoitras commented on #145
That explains your problem. See issue #50.

[2019-03-07 22:21] #145 closed

[2019-08-14 19:35] robotdan commented on #141
I am using HikariCP w/ Mybatis, no issues that I know.

- mybatis 3.4.6
- mybatis-guice 3.10
- Hikari 2.6.1

[2019-08-16 01:09] hazendaz commented on #141
Hi, @robotdan, Thanks for confirming it does work.  What is missing is direct integration though as found in this [package](https://github.com/mybatis/guice/tree/master/src/main/java/org/mybatis/guice/datasource).  If possible maybe you could build and submit a pull request that would provide native support as with other datasources?  I'm not super familar in this are of code and only noted this n

[2019-08-16 01:30] #137 closed

[2019-08-16 01:30] #138 closed

[2019-08-16 13:53] robotdan commented on #141
@hazendaz Sure, I'll see if I can boil something down and put together a PR.

[2019-08-16 15:22] christianpoitras commented on #141
@robotdan Thanks! I am quite busy and it is faster to review a PR than to program this myself. So it would be very appreciated. :)

[2019-09-26 06:50] robotdan commented on #141
FYI, I haven't forgotten about this. I have it mostly coded, just finishing the tests. If anyone is in a hurry for it I can push my fork before I submit a PR.

[2019-09-26 19:18] christianpoitras commented on #141
Thanks @robotdan !

I will not have time to review your changes before next week, so no hurry.

[2019-11-03 20:47] hazendaz commented on #139
bonecp test is skipped as it breaks jdk 11 usage.

[2019-11-19 19:50] #129 closed

[2020-01-23 21:28] gibsonm commented on #141
Did a version of HikariCP datasource provider get pushed anywhere we can grab it from?

[2020-01-23 21:39] christianpoitras commented on #141
Not yet. I was waiting for @robotdan in case he had a PR ready.

[2020-01-23 21:40] robotdan commented on #141
Sorry for the delay, you know how it goes. 😁 I do have a PR mostly ready. I'll try to put it together in the next day or two.

[2020-01-23 21:42] gibsonm commented on #141
:) Feel free to fork early if you think you'll be delayed in the PR.  And thanks for your efforts.

[2020-01-24 22:48] robotdan commented on #141
Submitted PR https://github.com/mybatis/guice/pull/168 - may still need some work. I'm happy to continue to contribute to it if you need anything. We have been using MyBatis + HikariCP for ~ 5 years.

[2020-01-25 20:33] gibsonm commented on #141
Thank you @robotdan .  Pretty much what I was expecting.  I'll take it for a spin locally whilst waiting for the PR to propagate through to release.

[2020-01-27 15:03] robotdan commented on #141
@gibsonm  You're welcome, let me know if I can help with anything else.

[2020-02-05 20:38] christianpoitras commented on #141
Fixed with PR #168

[2020-02-05 20:38] #141 closed

[2020-03-09 18:55] #139 closed

[2020-04-16 16:14] Zxxjgp opened #193 "配置多数据源的问题"
![image](https://user-images.githubusercontent.com/26613713/79479705-c1be7180-803f-11ea-8e12-765089750e5f.png)
数据源1和数据源二的配置
![image](https://user-images.githubusercontent.com/26613713/79479788-de5aa980-803f-11ea-91ef-b0e00b009cec.png)
在windows启动都是没有问题的，但是打包成为jar报了一个这样的错误
Exception in thread "main" com.google.inject.CreationException: Unable to create injector, see the following errors:

1) No impl

[2020-04-17 02:26] #193 closed

[2020-04-17 02:26] Zxxjgp commented on #193
报错贴错了

[2020-04-25 23:21] maxim432 opened #194 "Transactional annotation doesn't work in Kotlin"
`@Transactional` on Kotlin methods seems to be ignored, and every statement in the method shows up as an independent transaction in SQL log, instead of all within one transaction.

The same code in Java works as expected, which makes me believe it is something about Kotlin.

Is Kotlin supported, and if not are there plans for it?

Tested with
Kotlin 1.3.0
mybatis:3.5.4
mybatis-guice:3.12
guice:4.2

[2020-05-04 13:30] christianpoitras commented on #194
I don't know Kotlin. But if the methods are final, Guice cannot intercept them.
Your reference is right and explains the problem correctly.

[2020-05-04 13:31] christianpoitras commented on #194
I will close the issue since it is not related to MyBatis-Guice.

[2020-05-04 13:31] #194 closed

[2020-05-28 11:19] nemowang opened #205 "Will @Transactional annotation work if I annoted it on class name?"
Will @Transactional annotation work if I annoted it on class name instead method?
Does it work the same way as Spring's @Transactional?

[2020-05-28 13:11] christianpoitras commented on #205
Hi, Transactional works on both class and method levels. If present on both the method and the class, the class' annotation is ignored.

[2020-05-28 13:11] #205 closed

[2020-07-10 21:12] ravi-b-m opened #215 "Same Datasource having multiple mapper files -- Not an issue but need advice"
I have multiple mapper files, each mapper file corresponding a particular service.. but all these mapper files use the same database.. And I expose them as private modules.. what I am noticing is that each mapper file is opening 10 connections.. But I want to have is all mappers use the same connection pool.. is this possible ?

sample mapper files. all of them need to use the same datasource..
[c

[2020-09-28 18:25] christianpoitras commented on #215
I suggest you use the `bindDataSourceProvider` method to set a provider that always returns the same datasource instance.

The `bindDataSourceProviderType` will create a new datasource instance for each private module.

[2021-10-26 23:41] robotdan opened #369 "dep for Guice v5 in 3.13?"
I'm looking to upgrade to JDK 17, it looks like `3.13` and `master` Guice `5.0.1`. Is there a release schedule for this? Thanks!

[2021-10-27 04:24] hazendaz opened #370 "jdk 11 release fails with issue on javadoc plugin getting javax.annotation.Nullable"
Trying to release via mvn release:clean release:prepare release:perform will fail at perform with issue on javax.annotation.Nullable not being found.  That is in jsr305.  I did not see any issue elsewhere and figured it was probably due to the optional placed on it.  I did replace it with spotbugs-annotations as that extends it further and is owned by same team (I'm on that team as well).  That di

[2021-10-27 04:26] #369 closed, assigned to hazendaz

[2021-10-28 08:53] TadashiKanda opened #373 "I want to use failover mode and load balancing mode of MariaDB connector / j."
I'm using AWS RDS (aurora).
I want to use failover mode and load balancing mode of MariaDB connector / j.

However, using the mariadb connector / j does not work as expected.

Looking at the source below, I realized that I needed to make some changes.

★Source
 guice/src/main/java/org/mybatis/guice/datasource/helper/JdbcHelper.java

https://mariadb.com/kb/en/about-mariadb-connector-j/#failover-and

[2021-10-30 14:32] TadashiKanda commented on #373
If I use a binder, can I use the specified method?

The functions will conflict.

__JdbcHelper.java__
[code]

[2021-11-01 14:40] christianpoitras commented on #373
I would not use JdbcHelper at all since it should only be used if your URL matches the one provided by the class.
If you look at the examples on the links I provided, the JdbcHelper class is not used.

[2021-11-01 22:16] TadashiKanda commented on #373
I understand. The proposed content requires hard coding for each connection destination, which is not realistic.

[2021-11-01 23:03] TadashiKanda commented on #373
We are confident that adding this will bring many benefits to anyone who uses or plans to use AWS Aurora.
Thank you in advance for your consideration.

[2021-11-02 20:14] christianpoitras commented on #373
I see your point. I will probably add these values to the `JdbcHelper` class.

[2021-11-02 22:43] TadashiKanda commented on #373
Thank you! Are you sure you want to send me a pull request?

[2021-11-03 15:11] christianpoitras commented on #373
You can submit a pull request if you want. That would be easier for me. :)

[2021-11-03 23:47] TadashiKanda commented on #373
You have sent a pull request. Please check it.

[2021-11-04 00:45] christianpoitras commented on #373
Fixed in revision e2a9906863edf1b95ca2c702e802b52300bf19fb.

[2021-11-04 00:45] #373 closed

[2022-02-07 00:38] hazendaz commented on #370
Changed to use spotbugs annotations version of same for one piece of code.  Will confirm when next release occurs if that fixes issue.

[2022-02-07 01:04] hazendaz opened #417 "pmd asm conflict issues on site"
Currently on pmd 6.38.  Maven is releasing new one that is up to date, will re-confirm site before this is released in order to solve warnings produced during site generation.

[2022-02-18 22:15] hazendaz commented on #417
resolved.

[2022-02-18 22:15] #417 closed

[2022-02-19 00:11] hazendaz commented on #370
Resolved by using spotbugs as noted.

[2022-02-19 00:11] #370 closed

[2022-04-19 08:44] znzlspt17 opened #434 "java.lang.ClassNotFoundException: com.google.inject.AbstractModule not found by org.mybatis.mybatis-guice"
Hello

I'm asking for your help because I haven't known if this is a bug or my problem for a few days.

I am working on a daobundle that operates in an OSGI environment using guice and mybatis.

An error occurred while installing the bundle on the container.

`Error when instantiating bean daoModuleService of class myapp.dao.inject.impl.DaoModuleServiceImpl
org.osgi.service.blueprint.container.Com

[2022-04-28 01:32] znzlspt17 commented on #434
import package and
After defining the export package in more detail, it started to work well.

That was my problem Close the issue

[2022-04-28 01:32] #434 closed

[2022-08-10 00:29] renovate[bot] opened #466 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.apache.derby:derbyshared to v10.16.1.1
 - [ ] Update dependency com.zaxxer:HikariCP to v